.comments__list {
  padding: 0px 15px;
  margin: 0;
}

.comments__root-comment {
  padding: 0px;
}

.comments__item {
  list-style-type: none;
}

.comments__description {
  display: flex;
  align-items: center;
}

.comment__text {
  margin: 5px 0;
  font-size: 12px;
}

.comment__more {
  margin-right: 5px;
  display: none;
}

.comment__more:hover {
  cursor: pointer;
  opacity: .6;
  transition: opacity .5s ease-out;
}

.comment__more_visible {
  display: inline;
}

.comments__child-list {
  padding-left: 30px;
}
