.post {
  background-color: #FDFDFD;
  box-shadow: 0px 16px 24px rgba(0, 0, 0, 0.05);
  border-radius: 10px;
  padding: 11px 12px 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.post__title {
  font-weight: 900;
  background: url(../../images/1c6d06d11f693498815b20c088d06e3e.jpeg) no-repeat center;
  background-size: 270px 151px;
  width: 270px;
  height: 151px;
}

.post__link {
  text-decoration: none;
  color: black;
}

.post__date {
  font-size: 12px;
  color: gray;
}

.post__description {
}
